html {
    scroll-behavior: smooth;
    scroll-margin-top: 20px;
}

body {
    font-family: 'Kanit';
    overflow-x: hidden;
    /*background-image: url("../images/back.png");*/
    /*background-size: cover;*/
}

h1 {
    color: black;
}

.navbar {
    padding-left: 48px;
}

.sticky-top {
    padding-top: 56px;
}

.song-list {
    overflow-y: scroll;
}

.card-text {
    overflow-y: scroll;
}

.sub {
    margin-top: 50px;
}

.news-content {
    white-space: nowrap;
    overflow-x: scroll;
}

.news-content .rounded {
    margin-right: 20px;
}

.hot-content {
    height: 700px;
    overflow-y: scroll;
}

.hot-content .rounded {
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
    margin-top: 50px;
    /*background: #3494E6;*/
    /*background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);*/
    /*background: linear-gradient(to right, #EC6EAD, #3494E6);*/
}

.fa-compact-disc {
    display: none;
    -webkit-animation: rotation 2s infinite linear;
}

.fa-stop-circle {
    display: none;
    float: right;
    padding-top: 4px;
}

.playing {
    display: inline-block;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}